
navbar {
  display: flex;
  justify-content: center;
}
 nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
} 
  
nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ccc;
}
  Button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-container {
  text-align: right;
}

.button2 {
  font-size: 25px;
  font-family: sans-serif;
  padding: 0.25em 0.5em;
  margin: 0.125em;
  border-radius: 1em;
  border: none;
  outline: none;
  color: white;
  background-color: #66706c;
  cursor: pointer;
}

.button2:hover {
  background-color: #577066;
}
  
  
  
